html {
  background: #000;
  font-style: italic;
  text-transform: uppercase;
}

.uk-logo, .uk-footer-logo {
  img {
    width: 50%; 
  }
}

.uk-order-2 {
  order: 2;
}

.uk-order-3 {
  order: 2;
}

.uk-order-4 {
  order: 2;
}

.uk-heading-hero-text-shadow {
  text-shadow: 2px 2px 0 #000;
}

p {
  margin-top: 0;
}

#you-can-find-us-at-core {
  margin-bottom: 3rem;
}

#bus {
 color: #a03fdc;
 font-size: 1.4rem;
 margin: 0;
}
#walking {
  color: #94ce58;
  font-size: 1.4rem;
  margin: 0;
}
#overground {
 color: #e72e84;
 font-size: 1.4rem;
 margin: 0;
}

.color-orange {
  color: rgb(251, 103, 33) !important;
}

.color-light-pink {
  color: rgb(222, 37, 202) !important;
}

.color-yellow {
  color: rgb(255, 255, 0) !important;
}

.number-spacing {
  letter-spacing: $ls-xxl;
}

.slideshow-btn {
  background: rgba(255, 255, 255, 0.7);
}

.number-spacing {
  letter-spacing: 0.1rem;
}

.send-btn {
  background-color: #09bd9f !important;
  color: #fff !important;
}

.sticker {
  font-family: 'Open Sans';
  background: #09bd9f;
  position: absolute;
  top: 9rem;
  right: 20%;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  align-content: center;
  display: inline-grid;
}

@media (max-width: $breakpoint-small) {
  .uk-logo {
    img {
      width: 75%;
    }
  }
  .uk-text-small {
    font-size: 1rem;
  }
  .uk-text-large {
    font-size: 1.8rem;
  }
  html {
    font-size: 16px;
  }
  h1 {
    font-size: 16px !important;
  }
  .mobile-hidden {
    display: none;
  }
  .mobile-margin-top {
    margin-top: 2rem !important;
  }
  .uk-mobile-order-1 {
    order: 1 !important;
  }
  .sticker {
    right: 1rem;
    top: 5rem;
    position: relative;
  }
}
