{% if page.header.image %}
    {% assign image = page.header.image %}
{% else %}
    {% assign image = site.header.image %}
{% endif %}

{% if page.header.align %}
    {% assign align = page.header.align %}
{% else %}
    {% assign align = site.header.align %}
{% endif %}

{% if page.header.text %}
    {% assign text = page.header.text %}
{% else %}
    {% if site.header.text %}
        {% assign text = site.header.text %}
    {% else %}
        {% assign text = "light" %}
    {% endif %}
{% endif %}

<header class="uk-background-{{ align }}-center uk-background-contain">
    <div class="uk-overlay-header uk-{{ text }}">
        <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
            <div class="uk-navbar-center">
                <ul class="uk-navbar-nav uk-visible@m">
                    {% for link in site.data.navigation_header.main %}
                        {% if link.url contains 'http' %}
                            {% assign domain = '' %}
                        {% else %}
                            {% assign domain = relative_url %}
                        {% endif %}
                        {% if link.url == page.url %}
                            {% assign current = ' class="uk-active"' %}
                        {% else %}
                            {% assign current = null %}
                        {% endif %}
                        {% if link.title %}
                            <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" {% endif %}>{{ link.title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="uk-container">
            <div class="uk-text-center">
                <a class="uk-margin-medium-right@s uk-logo" href="{{ "/" | relative_url }}">{% if site.logo %}<img src="{% if site.logo contains 'http' %}{{ site.logo }}{% else %}{{ site.img_assets | absolute_url }}{{ site.logo }}{% endif %}">{% else %}{{ site.logo_text | escape }}{% endif %}</a>
            </div>
        </div>
        {% if page.title %}
        <div class="uk-container">
            <h1 class="uk-text-center uk-text-uppercase uk-text-small">{{ page.title }}</h1>
        </div>
            <div class="section-hero">
                <div class="uk-container uk-text-center">
                    <div class="uk-flex-middle uk-grid-medium uk-child-width-expand@s" uk-grid>
                        <div class="uk-width-1-5@m uk-text-center">
                            {% if page.lefttitle %}<p class="subtitle uk-text-uppercase">{{ page.lefttitle }}</p>{% endif %}
                            <div class="uk-article-meta font-smoothing">
                                {% if page.id and page.host.name %}
                                    host {{ page.host.name }}
                                {% endif %}
                                {% if page.id and page.categories %}
                                    in categories
                                    <br>
                                    {% for category in page.categories %}
                                        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
                                        {% unless forloop.last %}|{% endunless %}
                                    {% endfor %}
                                {% endif %}
                                {% if page.layout == 'about' and site.author.bio %}
                                    <div class="uk-container uk-container-small uk-margin-medium-top">
                                        {{ site.author.bio }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div>
                            <img src="{% if image contains 'http' %}{{ image }}{% else %}{{ site.post_assets | absolute_url }}{{ image }}{% endif %}" />
                        </div>
                        <div class="uk-width-1-5@m uk-text-center">
                            {% if page.righttitle %}<p class="subtitle uk-text-uppercase uk-margin-bottom">{{ page.righttitle }}</p>{% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <a class="uk-navbar-toggle uk-hidden@m uk-position-top-right" href="#offcanvas" data-uk-navbar-toggle-icon data-uk-toggle></a>
    </div>
</header>
