---
layout: default
---

<div class="uk-container">

    <h1 class="uk-text-center uk-text-uppercase uk-text-small">Ecstatic Dance</h1>

    <h2 class="uk-text-center uk-margin-large-bottom">Starts 7:30pm</h2>
    
    <article class="uk-article uk-grid uk-child-width-1-2 uk-flex-middle">
        <h2 class="uk-article-title uk-flex-extend uk-text-right uk-text-uppercase" style="color: #0f76b4">The Welcome</h2>
        <div class="uk-article-excerpt uk-flex-1">Music to welcome your mind, body and soul.</div>
    </article>
    
    <article class="uk-article uk-grid uk-child-width-1-2 uk-flex-middle">
        <h2 class="uk-article-title uk-flex-extend uk-text-right uk-text-uppercase" style="color: #a03fdc">The Groove</h2>
        <div class="uk-article-excerpt uk-flex-1">Music to embrace your deepest inner rhythms.</div>
    </article>
    
    <article class="uk-article uk-grid uk-child-width-1-2 uk-flex-middle">
        <h2 class="uk-article-title uk-flex-extend uk-text-right uk-text-uppercase" style="color: #fdbf2d">The Bridge</h2>
        <div class="uk-article-excerpt uk-flex-1">Music to connect and accend.</div>
    </article>
    
    <article class="uk-article uk-grid uk-child-width-1-2 uk-flex-middle">
        <h2 class="uk-article-title uk-flex-extend uk-text-right uk-text-uppercase" style="color: #e72e84">The Release</h2>
        <div class="uk-article-excerpt uk-flex-1">Music to unleash energy and euphoria.</div>
    </article>
    
    <article class="uk-article uk-grid uk-child-width-1-2 uk-flex-middle">
        <h2 class="uk-article-title uk-flex-extend uk-text-right uk-text-uppercase" style="color: #94ce58">The Landing</h2>
        <div class="uk-article-excerpt uk-flex-1">Music to bring you home.</div>
    </article>

    <h2 class="uk-text-center uk-margin-large-top">Ends 10:00pm</h2>

</div>
