---
layout: default
---

<div class="uk-container">

    <h1 class="uk-text-center uk-text-uppercase uk-text-small">Escape the urban hustle<br>and dance free</h1>

    <h2 class="uk-text-center uk-text-large uk-margin-small-bottom uk-text-uppercase">Starts 7:30pm</h2>
    
    <article class="uk-article uk-grid-collapse uk-child-width-1-2 uk-flex-middle" uk-grid>
        <div class="uk-width-1-4@m">&nbsp;</div>
        <h3 class="uk-article-title uk-width-1-5@m uk-text-uppercase" style="color: #22F9ED">The Welcome</h3>
        <div class="uk-article-excerpt uk-width-auto">Music to welcome your mind, body and soul.</div>
    </article>
    
    <article class="uk-article uk-grid-collapse uk-child-width-1-2 uk-flex-middle" uk-grid>
        <div class="uk-width-1-4@m">&nbsp;</div>
        <h3 class="uk-article-title uk-width-1-5@m uk-text-uppercase" style="color: #E00ED1">The Groove</h3>
        <div class="uk-article-excerpt uk-width-auto">Music to embrace your deepest inner rhythms.</div>
    </article>
    
    <article class="uk-article uk-grid-collapse uk-child-width-1-2 uk-flex-middle" uk-grid>
        <div class="uk-width-1-4@m">&nbsp;</div>
        <h3 class="uk-article-title uk-width-1-5@m uk-text-uppercase" style="color: rgb(248, 121, 36)">The Bridge</h3>
        <div class="uk-article-excerpt uk-width-auto">Music to connect and accend.</div>
    </article>
    
    <article class="uk-article uk-grid-collapse uk-child-width-1-2 uk-flex-middle" uk-grid>
        <div class="uk-width-1-4@m">&nbsp;</div>
        <h3 class="uk-article-title uk-width-1-5@m uk-text-uppercase" style="color: rgb(251, 144, 255)">The Release</h3>
        <div class="uk-article-excerpt uk-width-auto">Music to unleash energy and euphoria.</div>
    </article>
    
    <article class="uk-article uk-grid-collapse uk-child-width-1-2 uk-flex-middle" uk-grid>
        <div class="uk-width-1-4@m">&nbsp;</div>
        <h3 class="uk-article-title uk-width-1-5@m uk-text-uppercase" style="color: #abfd54">The Landing</h3>
        <div class="uk-article-excerpt uk-width-auto">Music to bring you home.</div>
    </article>

    <h2 class="uk-text-center uk-text-large uk-margin-small-top uk-text-uppercase">Ends 10:00pm</h2>

</div>
