---
layout: default
---

<div class="uk-container uk-container-small">

    <h1 class="uk-text-center uk-text-uppercase uk-text-small">{{ page.subtitle }}</h1>

    <article class="uk-article{% if page.center %} uk-text-center{% endif %}">
            <div id="mc_embed_signup" class="uk-margin-large-top">
                <form action="https://spiritreset.us18.list-manage.com/subscribe/post?u=a81dd3a24772eb9eae7771bb2&amp;id=2cc9abcfb6" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div style="text-align: center" class="uk-margin-small-top">
                        <h3 class="uk-article-title uk-text-uppercase uk-text-center blue-title uk-margin-small-top">Join our mailing list here</h3>
                        <div class="uk-grid-collapse" uk-grid>
                            <div class="uk-width-1-1 uk-width-2-3@s">
                                <input type="email" value="" name="EMAIL" class="uk-input uk-margin-small-top uk-text-uppercase uk-form-large uk-border-rounded uk-margin-bottom" id="mce-EMAIL" placeholder="email address" required>
                            </div>
                            <div class="uk-width-1-1 uk-width-1-3@s">
                                <input type="submit" value="Subscribe" name="subscribe" style="height:55px;width: 100%;" class="uk-button uk-margin-small-top uk-margin-large-bottom uk-button-primary uk-button uk-border-rounded uk-text-uppercase contact-submit send-btn">
                            </div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a81dd3a24772eb9eae7771bb2_2cc9abcfb6" tabindex="-1" value=""></div>
                    </div>
                </form>
            </div>
        </h3>
    </article>

    {% if page.formspree.email %}
    <h3 class="uk-article-title uk-text-uppercase uk-text-center blue-title uk-margin-small-top">Contact Us</h3>
    <form class="uk-form-stacked uk-margin-small-top" method="POST" action="https://formspree.io/{{ page.formspree.email }}" accept-charset="UTF-8">
        <div class="uk-margin-medium-bottom">
            <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Name</label>
            <div class="uk-form-controls">
                <input class="uk-input uk-form-large uk-border-rounded" name="name" type="text" required>
            </div>
        </div>
        <div class="uk-margin-medium-bottom">
            <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Email</label>
            <div class="uk-form-controls">
                <input class="uk-input uk-form-large uk-border-rounded" name="_replyto" type="email" required>
            </div>
        </div>
        <div class="uk-margin-medium-bottom">
            <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Subject</label>
            <div class="uk-form-controls">
                <input class="uk-input uk-form-large uk-border-rounded" name="_subject" type="text">
            </div>
        </div>
        <div class="uk-margin-medium-bottom">
            <label class="uk-form-label uk-margin-small-bottom" for="form-stacked-text">Message</label>
            <div class="uk-form-controls">
                <textarea class="uk-textarea uk-form-large" name="message" rows="5" minlength="10" required></textarea>
            </div>
        </div>
        <div>
            {% if page.formspree.redirect %}
            <input type="hidden" name="_next" value="{{ page.formspree.redirect | absolute_url }}">
            {% endif %}
            <input type="text" name="_gotcha" style="display:none">
            <input class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-border-rounded uk-text-uppercase send-btn" type="submit" value="Send">
        </div>
    </form>
    {% endif %}

</div>
