---
layout: default
---

<div class="uk-container">

    <h1 class="uk-text-center uk-text-uppercase uk-text-small uk-margin-large-bottom">Escape the urban hustle<br>and dance free</h1>

    
    <article class="uk-article uk-grid uk-flex-middle">
        <div class="uk-width-1-5@m">&nbsp;</div>
        <div class="uk-width-1-5">
            <img src="{{ "assets/img/man-walking.svg" | relative_url }}" />
        </div>
        <div class="uk-width-expand">
            <h2 class="uk-article-title">When to arrive?</h2>
            <p class="uk-article-excerpt">Doors open 7:30pm for an 8:00pm start, latest you can arrive is 8:15pm. We finish at 10:00pm</p>
        </div>
    </article>

    <article class="uk-article uk-grid uk-flex-middle">
        <div class="uk-width-1-5@m">&nbsp;</div>
        <div class="uk-width-1-5">
            <img src="{{ "assets/img/tshirt.svg" | relative_url }}" />
        </div>
        <div class="uk-width-expand">
            <h2 class="uk-article-title">What to wear?</h2>
            <p class="uk-article-excerpt">Loose fit, gym or yoga wear is good. Be ready to dance and sweat a little. Wear what makes you happy and comfy</p>
        </div>
    </article>


    <article class="uk-article uk-grid uk-child-width-1-2 uk-flex-middle">
        <div class="uk-width-1-5@m">&nbsp;</div>
        <div class="uk-width-1-5">
            <img src="{{ "assets/img/coinstack.svg" | relative_url }}" />
        </div>
        <div class="uk-width-expand">
            <h2 class="uk-article-title">How to pay?</h2>
            <p class="uk-article-excerpt">Cash on the door is good and entry is £10. No card payments yet, but you can pay online in advance here: WWW.LINK>COM</p>
        </div>
    </article>

    {% include paginate.html %}

</div>
